<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Book Store</title>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css" />
        <Style type="text/css">
            <!--显示登录或退出-->
            #pic{
                display: block;
            }
            #pic2{
                display: block;
            }
            #header1{
                padding:0;
                margin:0;
            }
            <!--菜单悬浮-->
            #box{float:left;position:relative;width:100%;}  
            .div1{}  
            .div2{position:fixed;_position:absolute;top:0px;z-index:295;width:100%;}  
        </style>
        <!--使用bootstrap-->
        <!-- Le styles -->
        <link href="__PUBLIC__/css1/bootstrap.css" rel="stylesheet">
            <style type="text/css">
                body {
                    background:url('__PUBLIC__/img/bg.gif');
                    /*padding-bottom: 40px;*/
                }
            </style>
            <link href="__PUBLIC__/css1/bootstrap-responsive.css" rel="stylesheet">
                <link href="__PUBLIC__/css1/global.css" rel="stylesheet">

                    <LINK rel=stylesheet type=text/css href="__PUBLIC__/css/lrtk.css">
                        <SCRIPT type=text/javascript src="__PUBLIC__/js/jquery.js"></SCRIPT>
                        <SCRIPT type=text/javascript src="__PUBLIC__/js/slide.js"></SCRIPT>
                        <Script LANGUAGE="JavaScript">
//                             <!--菜单悬浮-->
                            $(function () {
                                var oDiv = document.getElementById("float1");
                                var H = 0, iE6;
                                var Y = oDiv;
                                while (Y) {
                                    H += Y.offsetTop;
                                    Y = Y.offsetParent;
                                }
                                ;
                                iE6 = window.ActiveXObject && !window.XMLHttpRequest;
                                if (!iE6) {
                                    window.onscroll = function ()
                                    {
                                        var s = document.body.scrollTop || document.documentElement.scrollTop;
                                        if (s > H) {
                                            oDiv.className = "div1 div2";
                                            if (iE6) {
                                                oDiv.style.top = (s - H) + "px";
                                            }
                                        } else {
                                            oDiv.className = "div1";
                                        }
                                    };
                                }
                            });
                            function hide()
                            {
                                document.getElementById("pic").style.display = "none";

                            }
                            function hide2()
                            {
                                document.getElementById("pic2").style.display = "none";

                            }
                        </Script>

                        </head>



                        <body>
                            <div id="float1" class="div1">
                                <div id="box">  
                                    <div class="navbar navbar-inverse" id="header1">
                                        <div class="navbar-inner">
                                            <div class="container">

                                                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                                                <button class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                </button>

                                                <!-- Be sure to leave the brand out there if you want it shown -->
                                                <a class="navbar-brand" href="{:U('Index/index')}">YO TO BOOK</a>


                                                <!-- Everything you want hidden at 940px or less, place within here -->
                                                <div class="nav-collapse collapse">
                                                    <!-- .nav, .navbar-search, .navbar-form, etc -->
                                                    <ul class="nav">

                                                        <li><block name="hh"><a href="{:U('Index/index')}">首页</a></block></li> 
                                                        <li><a href="{:U('Books/category')}">书籍</a></li>
                                                        <li><a href="{:U('Books/newreleases')}">新出版</a></li>
                                                        <li><a href="{:U('Users/contact_us')}">联系我们</a></li>    
                                                        <li><a href="{:U('Users/register')}">注册</a></li>
                                                        <li><a href="{:U('Books/upload')}">上传新书</a></li>
                                                        <li>
                                                            <form class="navbar-form pull-left" method='post' action="{:U('Books/search')}">
                                                                <input class="span2" type="text" name='search' placeholder="请输入关键字">
                                                                    <button type="submit" value="搜索" class="btn btn-info">搜索</button>
                                                            </form>
                                                        </li>
                                                        <li>
                                                            <div id="pic" >
                                                                <a class="btn" href="{:U('Users/login')}">登录</a>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div id="pic2">
                                                                <a class="btn" href="{:U('Users/logout')}">退出</a>
                                                                <a class="btn" href="#">欢迎您, {$Think.session.username}</a>
                                                            </div>
                                                        </li>
                                                        <a class="btn btn-info" sytle="text-align right;" href="__APP__/Admin/Index/index"><span class="icon-home"></span> 管理员首页</a> &nbsp;&nbsp;

                                                    </ul>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div></div>
                            <div class="picture">
                                <DIV><!--大图轮换区-->
                                    <DIV style="MARGIN: 0px auto; WIDTH: 100%;  height: 368px; OVERFLOW: hidden">
                                        <DIV style="MARGIN: 0px auto; WIDTH: 100%; height: 368px; OVERFLOW: hidden" id=bigpicarea>
                                            <P class=bigbtnPrev><SPAN id=big_play_prev></SPAN></P>
                                            <DIV id=image_xixi-01 class=image><A href="" target=_blank><IMG alt=""
                                                                                                            src="__PUBLIC__/images/1.jpg"
                                                                                                            width=100%></A>

                                                <DIV class=word>
                                                    <br/><br/>
                                                </DIV>
                                            </DIV>
                                            <DIV id=image_xixi-02 class=image><A href="" target=_blank><IMG alt=""
                                                                                                            src="__PUBLIC__/images/2.jpg"
                                                                                                            width=100%></A>

                                                <DIV class=word>
                                                    <br/><br/>
                                                </DIV>
                                            </DIV>


                                            <DIV id=image_xixi-03 class=image><A href="" target=_blank><IMG alt=""
                                                                                                            src="__PUBLIC__/images/3.jpg"
                                                                                                            width=100%></A>

                                                <DIV class=word>
                                                    <br/><br/>
                                                </DIV>
                                            </DIV>


                                            <DIV id=image_xixi-04 class=image><A href="" target=_blank><IMG alt=""
                                                                                                            src="__PUBLIC__/images/4.jpg"
                                                                                                            width=100%></A>
                                                <DIV class=word>
                                                    <br/><br/>
                                                </DIV>
                                            </DIV>



                                            <P class=bigbtnNext><SPAN id=big_play_next></SPAN></DIV>
                                    </DIV>

                                    <SCRIPT>
                                        var target = ["xixi-01", "xixi-02", "xixi-03", "xixi-04", "xixi-05", "xixi-06"];
                                    </SCRIPT>
                                </DIV>  
                            </div>
                            <div id="wrap">
                                <!--end of menu--> 

                                <!--end of header-->  
                                <?php 
                                if(isset($_SESSION['username']))
                                {
                                echo "<script>hide();</script>";
                                }
                                else
                                {
                                echo "<script>hide2();</script>";
                                }

                                ?>
