<!--关于我们页面-->
<div class="center_content">
    <div class="left_content">
        <div  class="sub_left_content">
            <div class="title"><span class="title_icon"><img src="__PUBLIC__/images/bullet1.gif" alt="" title="" /></span>关于我们</div>
            <div class="feat_prod_box_details">
                <p> <img src="__PUBLIC__/images/about.gif" alt="" title="" class="right" /> <strong>我的书店</strong> <br />
                    <br />

                    我们是独立自主开发的项目组，YoToBook的名字由来是因为youtube,我们以此为出发点进行了新名字，Yo （你） to （到） Book （书），表明的是你和书之间的距离 
                    希望广大读者可以多阅读，阅读读书是一种生活方式，而不单单是一种习惯。</p>
                <p>
                    本站为个人网站，访客主要是网站建设、网页设计和网络编程开发人员及业余网页爱好者，网站定位于最新的相关书籍，囊括各种类别的书籍等。</P>
                <P>
                    由于每天的工作量较大，一些不满意的地方我们会尽量修改，并修正，但因个人能力与时间有限，并不保证全部无错，
                    如果大家在浏览过程中，发现了错误，如果您有时间的话，可以给我们留言或直接在文章上回复，我们尽快的修改，感谢大家对我们的支持。 
                </p>
            </div>
            <div>
                <p class="tit m_t30">YoToBook志存高远，秉承“网罗天下图书，传承中华文明”的发展理念，致力于将网站办成“以交易为核心的最大的中国传统文化信息和资料中心”。</p>

                <div class="line_xu"></div>

                <p><strong>YoToBook版权归广东外语外贸大学思科信息学院古才良和陈戈共同所有。</strong></p>
            </div>

        </div>
        <div class="clear"></div>
    </div>
    <!--end of left content-->
