
<body>
<form method="post" action="{:U('OrderItems/editOrderSubmit')}?uid={$orderResult['buy_id']}&bid={$orderResult['b_id']}">
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 修改订单 </strong></div>
    <div class="padding border-bottom">

    </div>
    <table class="table table-hover text-center">

      <tr>
        <th width="120">用户ID</th>
        <th>用户名</th>
        <th>书籍ID</th>       
        <th>书名</th>
        <th>数量</th>
        <th>下单时间</th>
      </tr>   
        
          <tr>
        
          <td>{$orderResult.buy_id}</td>
          <td>{$useridName[$orderResult['buy_id']]}</td>
          <td>{$orderResult.b_id}</td>
          <td>{$bidBname[$orderResult['b_id']]}</td>
          <td><input type="text" name='s_num' class="contact_input" value="{$orderResult.s_num}"/></td>
          <td><input type="text" name='s_time' class="contact_input" value="{$orderResult.s_time}"/></td>

           </tr>
        
       </table>
  </div>
        <div> 
              <input type="submit" class='contact' value="确认修改" /> 
        </div>
              
</form>
</body></html>