
<body>
<form method="post" action="">
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 书籍管理（删除书籍将会删除评论和订单）</strong></div>
    <div class="padding border-bottom">
      <ul class="search">
        <li>
          <button type="button"  class="button border-green" id="checkall"><span class="icon-check"></span> 全选</button>
          <button type="submit" class="button border-red"><a href="javascript:void(0)" onclick="return DelSelect()"><span class="icon-trash-o"></span> 批量删除</a></button>
        </li>
      </ul>
    </div>
    <table class="table table-hover text-center">
      <tr>
        <th width="120">书籍ID</th>
        <th>书名</th>       
        <th>作者</th>
        <th>出版社</th>
        <th>类型</th>
        <th width="25%">简介内容</th>
        <th>价格</th>
        <th>照片路径</th>
        <th>操作</th>       
      </tr>   
      
        <volist name='list' id='vo' key="k">
           <tr>
        
          <td><input type="checkbox" name="id[]" value="{$vo.b_id}" />{$vo.b_id}</td>
          <td>{$vo.b_name}</td>
          <td>{$vo.author}</td>
          <td>{$vo.press}</td>  
          <td>{$vo.type}</td>
          <td>{$vo.introduction}</td>
          <td>{$vo.price}</td>
          <td>{$vo.b_pic_src}</td>
          <td><div class="button-group"> <a class="button border-red" href="javascript:void(0)" onclick="return del({$vo.b_id})"><span class="icon-trash-o"></span> 删除</a>
          <button type="button"  class="button border-green"> <a href="javascript:void(0)" onclick="return edit({$vo.b_id})"><span class=""></span> 修改</a> </div>

           </tr>
        </volist>

      <tr>
        <td colspan="8"><div class="pagelist"> {$page} </div></td>
      </tr>
    </table>
  </div>
</form>
<script type="text/javascript">

function del(id){
//    alert(id);
    if(confirm("您确定要删除吗?")){
        //alert("Im OK!");
        var idList=[];
        idList.push(id);
        var url="{:U('Books/deleteBooks')}?id="+idList;
        window.location.href=url;
    }
        
}

function edit(bid){
     if(confirm("您确定要修改吗?")){
        //alert("Im OK!");
        
        var url="{:U('Books/editBook')}?bid="+bid;
        window.location.href=url;
    }
}


$("#checkall").click(function(){ 
  $("input[name='id[]']").each(function(){
	  if (this.checked) {
		  this.checked = false;
	  }
	  else {
		  this.checked = true;
	  }
  });
})

function DelSelect(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		var t=confirm("您确认要删除选中的内容吗？");
		if (t==false) {
                    return false;
                } 
                else{
//                    alert("确定");
                    var idList=[];
                    var a = document.getElementsByName("id[]");
                    for(var i = 0 ;i<a.length;i++)
                    {
                        if(a[i].checked)
                        {
//                            alert(a[i].value);
                            idList.push(a[i].value);
                        }
                    }
//                    alert(idList.length);
                    var url="{:U('Books/deleteBooks')}?id="+idList;
                    window.location.href=url;
                }
                  
	}
	else{
		alert("请选择您要删除的内容!");
		return false;
	}
}

</script>
</body></html>